microservice-customer/src/main/resources/wsdl/customers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://paradigma.com/customer/customer-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paradigma.com/customer/customer-web-service" targetNamespace="http://paradigma.com/customer/customer-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://paradigma.com/customer/customer-web-service">

    <xs:element name="getCustomerByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:customer"/>
            </xs:sequence>
        </xs:complexType> 
    </xs:element>

    <xs:complexType name="customer">
        <xs:sequence>
            <xs:element name="customerId" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="middleName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerByIdRequest">
    <wsdl:part element="tns:getCustomerByIdRequest" name="getCustomerByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerResponse">
    <wsdl:part element="tns:getCustomerResponse" name="getCustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomersPort">
    <wsdl:operation name="getCustomerById">
      <wsdl:input message="tns:getCustomerByIdRequest" name="getCustomerByIdRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:output message="tns:getCustomerResponse" name="getCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomersPortSoap11" type="tns:CustomersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCustomerByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction=""/>
      <wsdl:output name="getCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomersPortService">
    <wsdl:port binding="tns:CustomersPortSoap11" name="CustomersPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>